@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body {
	font-family: 'Crete Round', serif;
	font-size: 1em;
	font-weight: 400;
} 

h1 {
	
	color: #66bbff;
}