@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap')
	;

body {
	font-family: 'Crete Round', serif;
	font-size: 1em;
	font-weight: 400;
	display: flex;
}

h1 {
	color: #2c53de;
}

#meio {
	background-size: 100%;
	background-image: url("imagens/Fundo-Site.jpg");
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	margin: auto;
}

.botao1 {
	text-decoration: none;
	background: #66bbff;
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	background: #66bbff;
	color: #fff;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
	
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
}